{{ partial "meta/main.html" . }}
<head>
{{ partial "lite2/head.html" . }}
</head>
<body>
{{ partial "lite2/navbar.html" . }}
<main class="container">
  {{ $posts := where .Site.Pages "Type" "module" }}
  {{ $paginator := .Paginate .Pages }}
  {{ partial "pagination.html" (dict "p" $paginator "s" .Scratch) }}
  
    {{ range $paginator.Pages }}
      {{ partial "list-item.html" . }}
    {{ end }}
  
  {{ partial "pagination.html" (dict "p" $paginator "s" .Scratch) }}
</main>
{{ partial "lite/footer.html" }}
</body>
</html>
