{{ define "game1" }}
<main class="container">
<h1>Games Playstation 2</h1>
<p><a href="/game2">Game Playstation 2 (USA)(.7z)(Telegram Link)</a></p>
  {{ $posts := where .Site.Pages ".Params.type" "game" }}
  {{ $paginator := .Paginate $posts }}
  {{ partial "pagination.html" (dict "p" $paginator "s" .Scratch) }}
  <table class="table table-sm">
    <thead>
     <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
     </tr>
   </thead>
	{{ range $paginator.Pages }}
		{{ if (eq .Params.server "myrient") }}
		<tbody>
			<tr>
				<td class="tddd"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td class="tdcc">{{ .Params.size }}B</td>
			</tr>
		</tbody>
		{{ else if .Params.populer }}
		<tbody>
			<tr>
				<td class="tddd"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
				<td class="tdcc">{{ .Params.size }}</td>
			</tr>
		</tbody>
		{{ end }}
    {{ end }}
  </table>
  {{ partial "pagination.html" (dict "p" $paginator "s" .Scratch) }}
</main>
{{ end }}
