
{{ partial "google/tagmanager_body.html" . }}


  <nav class="navbar">
    <div class="brand">AetherSX2</div>
    <input type="checkbox" id="menu-toggle" class="menu-toggle">
    <label for="menu-toggle" class="menu-icon">
      <span></span>
      <span></span>
      <span></span>
    </label>
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/bios">Bios</a></li>
      <li><a href="/download">Download</a></li>
      <li><a href="/game">Game</a></li>
      <li><a href="/config">Config</a></li>
      <li><a href="/config">Blog</a></li>
    </ul>
  </nav>