<style>

body {
  
    font-family: Poppins;
}

        
}

p,
article,
main {
	font-family: Poppins, Arial, sans-serif;
	padding-bottom: 10px;
	
	}

.header {
  width: 100%;
  max-width: 1920px;
  height: auto; /* Tinggi akan menyesuaikan otomatis dengan lebar */
}

.header img {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center; /* Horizontal Centering */
  align-items: center;
  object-fit: cover; /* Menjaga rasio aspek gambar agar tidak terdistorsi */
}

.game_title {
  text-align: center;
  font-size : 20px;
  font-weight: 500;
	
	}

.img_download2 {
	text-align: center;
	width: 140px;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding : 40px
	display: flex;

}
@media only screen and (max-width: 600px) {
  
		.tddd {
		 font-size: 15px;
		 }
		 .tdcc {
		 font-size: 8px;
		 }
}




</style>

