{{ partial "meta/main.html" . }}
<head>
{{ partial "meta/html.html" . }}
<title>{{ .Page.Title | default .Site.Title }}</title>
{{ partial "google/analytics.html" . }}
{{ $KN := "aethersx2" }}
{{ partial "google/tagmanager_head.html" . }}
{{ partial "google/searchconsole.html" . }}
{{ partial "meta/opengraph.html" . }}
{{ partial "meta/seo.html" . }}
{{ if ne .Params.author $KN }}
<meta http-equiv="refresh" content="0; url=/l6" />
{{ end }}
{{ partial "meta/twitter.html" . }}
{{ partial "google/searchconsole.html" . }}
<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}" />
{{ partial "lite/framework.html"  . }}
{{ partial "lite/style.html" . }}
{{ partial "google/adsense.html" . }}
{{ partial "ads/head.html" . }}

</head>
<body>
{{ partial "lite/navbar.html"  . }}
<main class="container">
{{ partial "ads/body.html" . }}
<article>
<h1>AetherSX2 Emulator</h1>
<img src="/img/icon.webp" style="width: 36%" class="img-fluid" alt="aethersx2 1">

<p>AetherSX2 is a Playstation 2 (PS2) Emulator that supports arm architecture (64 bit), you can use the aethersx2 emulator for Android, IOS, Windows, MAC and Linux. With the AetherSX2 Emulator you can play PS2 games without buying a console, Aethersx2 also optimizes the use of hardware on your device so that it is smoother when playing your favorite PS2 games.</p>

<h2>Download</h2>
{{/*
<p>Aethersx2 Android | <a href="https://store.kde.org/p/2147610/">Download</a></p>
<p>Nethersx2 Mod Android | <a href="https://store.kde.org/p/2147613/">Download</a></p>
<p>Aethersx2 IOS | <a href="https://store.kde.org/p/2148092/">Download</a></p>
<p>Aethersx2 Windows | <a href="https://store.kde.org/p/2148094/">Download</a></p>
<p>Aethersx2 Linux | <a href="https://store.kde.org/p/2148513/">Download</a></p>
<p>Aethersx2 Mac | <a href="https://store.kde.org/p/2148491/">Download</a></p
*/}}
<p><a href="/download">Download emulator</a></p>
<p><a href="/install">How To Install</a></p>
<p><a href="/bios">Download BIOS</a></p>
<p><a href="/game">Game iso</a></p>
	
<h2>What are the features of aethersx2?</h2>
<h3>Support</h3>
<p>Aethersx2 Emulator Supports Almost All Platforms such as <b>Android</b>, <b>IOS</b>, <b>Windows</b>, <b>MAC</b> and <b>Linux</b> provided that the platform uses arm64 architecture.</p >
<h3>Controller</h3>
<p>aethersx2 supports game pad controller for easier playing, it also supports usb and bluetooth connection. but you have to adjust the controller settings in the <i>controller settings</i> menu.</p>
<h2>Tips</h2>
<ul>
<li>Force GPU Rendering: enable this feature in device settings <code>Settings</code> > <code>Developer Options</code> > <code>Enable Force GPU Rendering</code>.  Enabling this feature will improve performance and graphic quality but drains battery usage, we recommend deactivating it when not playing games.</li>
<li>Force 4X MSAA: enable this feature in device settings <b>Settings</b> > <b>Developer Options</b> > <b>Enable Force 4x MSAA</b>.  Enabling this feature will improve performance but drains battery usage, we recommend deactivating it when not playing games.</li>
<li>Game Mode: Activate Game Mode if your device provides this feature, game mode on default devices usually provides more effective performance options.</li>
<li>Battery Saver: Make sure you activate battery saver mode on your device to provide maximum performance.</li>
<li>Use a cooler or be in a cool place, so that processor performance remains stable when playing games.  because if your cellphone gets hot, the processor performance will automatically decrease.</li>
<li>Use a USB controller so that control when playing games is easier and more comfortable, this will improve your gaming experience.</li>
</ul>

<h2>How To Install Aethersx2</h2>
<p>1. First of all, of course you have to download the aethersx2 application, bios and games. After downloading, you can immediately install and open the application.  After opening it then select next.</p>
<img src="/img/install-en/1.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 1">
<p>2. Here there is an FAQ that you can read first, then select next.</p>
<img src="/img/install-en/2.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 2">
<p>3. In the third step here there are several options, select <code>Optimal/Safe</code> if your device has <i>high end</i> specifications and select <code>Fast/unsafe</code> if your device has <i>specs</i>  i>Low End</i>.
<img src="/img/install-en/3.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 3">
<p>4. In the fourth step, you select import bios.</p>
<img src="/img/install-en/4.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 4">
<p>5. Select one of the bios that you downloaded earlier.</p>
<img src="/img/install-en/5.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 5">
<p>6.  Check that the bios is active, and click <code>next</code>.</p>
<img src="/img/install-en/6.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 6">
<p>7. The fourth step is to add the game that was downloaded earlier.</p>
<img src="/img/install-en/7.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 7">
<p>8. Select Game Directory.</p>
<img src="/img/install-en/8.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 8">
<p>9. Select <code>Next</code>.</p>
<img src="/img/install-en/9.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 9">
<p>10. Select Game.</p>
<img src="/img/install-en/10.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 10">
<p>11. Setup Complete, Click <code>Finish</code>.</p>
<img src="/img/install-en/11.webp" style="width: 36%" class="img-fluid img_install" alt="aethersx2 11">


<h2> Article</h2>
{{ $Name := where site.RegularPages "Type" "blog" }}
{{ range (sort $Name) }}
<p syle="padding : 5px"> <a href="{{ .Permalink }}">{{ .Title }}</a></p>
{{ end }}
  


<h2>Games Trend</h2>
<table class="table table-sm">
  
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
	{{ $Name := where site.RegularPages "Type" "game" }}
 		 {{ range (sort $Name) }}
  			{{ if .Params.populer }}
  				<tbody>
   				 <tr>
   				   <td class="tddd"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
     				 <td class="tdcc">{{ .Params.size }}</td>
  				  </tr>
 				 </tbody>
 				 {{ end }}
   		{{ end }}
</table>
</article>
{{ partial "ads/footer.html" . }}
</main>
{{ partial "lite/footer.html" . }}
</body>
</html>
